.git
.gitignore
.dockerignore

local/
.cache/
tmp/

bin/*
!bin/linux-*/
bin/linux-*/*
!bin/linux-*/node_exporter
!bin/linux-*/process_exporter
!bin/linux-*/promtail
!bin/linux-*/otelcol-contrib
dist/stage/
dist/out/

web/node_modules/
web/dist/
web/tsconfig.tsbuildinfo

deploy/certs/
deploy/install/certs/
